<td><%= title %></td>
<td><%= details %></td>
<td><a class="btn btn-primary" href="#/<%= id %>">Show</td>
<td><a class="btn btn-warning" href="#/<%= id %>/edit">Edit</td>
<td><a class="btn btn-danger" href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>